<!DOCTYPE HTML>
<html>
	<head>
		<title>MundoMarvel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for("static", filename='css/main.css')}}">
		<link rel="icon" type="image/png" href="{{url_for("static", filename='images/favicon.png')}}" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
            <section id="header">
                <div class="container">

                    <!-- Logo -->
                        <h1 id="logo"><a href="/">Mundo Marvel</a></h1>
                        <p>Informate de todo el Universo de Marvel</p>

                    <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li><a class="icon fa-home" href="/"><span>Inicio</span></a></li>
                                <li><a class="fa fa-paint-brush" href="/autores"><span>Autores</span></a></li>
                                <li><a class="fa fa-vcard-o" href="/superheroes"><span>Superheroes</span></a></li>
                            </ul>
                        </nav>
					</div>
				</section>

                {% block autores %}{% endblock %}
				{% block resultadoautores %}{% endblock %}
				{% block mostrarheroes %}{% endblock %}
				{% block resultadoheroes %}{% endblock %}
				
				

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>

